.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  // background-image: url('./Components/backgroundimage.jpg');
  // background-position: center;
  // background-position: cover;
  // background-repeat: no-repeat;
}
.Top-container{
  height: 40vh;
   
  width: 100%;
  display: flex;
  flex-direction: column;

}

.bottom-carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 30vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// .bottom-carousel-container{
//   background-color: yellow;
//   height: 30vh;
//   justify-content: center;
//   display: flex;
//   width: 100%;
// }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
